<div class="jumbotron ">
    <div class="container-lg  mx-auto">
      <h1>SHEETS это что?</h1>
    <p> Приложение для получения и обработки данных из таблицы Google Sheets.
      В режиме обновления приложение каждые 30 секунд получает данные из таблицы, модифицирует добавляя 
      новую колонку "Цена в RUB", проверяте дату доставки, и если дата уже прошла 
      отправляет сообщение в Telegram пользователю.
      Кнопками запустить и остановить обновление можно выполнить соответствующие действия. 
      </p>
    </div>
  </div>